<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"> 
</head>
<style>
    .dd3{color:grey}
</style>
<body>
<h1 align="center" style="color:greenyellow">{{tittle}}</h1>
<p align="center">{{welcome}}</p>
	
<input type="text" id="text-sample" size="15">
<button onclick="selectText()">执行</button>
<script>
  var string_ALL;
	function selectText() { //sbJS，真尼玛难弄
      var string_ALL.value = document.getElementById("text-sample").value;
      document.getElementById("h01").innerHTML=window.string_ALL.value;
    }
	function inpution(str){
		document.getElementById("h01").innerHTML=str.value;
	}
	function clear(){
		document.body.innerHTML=null;
	}
</script>
	<hr />

  <textarea wdth="100px";height="100px" id="h01">(这里输出结果)</textarea>

<!--结尾-->
<hr />
<a href="https://github.com/wr0x00/Lsploit/issues">{{issue}}</a>
<p style="color:gray;">Develop by wr0x00.
<script type="text/javascript">
    var date = new Date();
    document.write("Today:"+date.getFullYear() + "." + (date.getMonth() + 1) + "." + date.getDate());
  </script>

</body>
</html>