<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"> 
</head>
<script>
let string_ALL="";
let b="";
  </script>
<body>
<h1 align="center" style="color:greenyellow">{{tittle}}</h1>
<p align="center">{{welcome}}</p>

<a href="/sw">扫目录</a>


<!--结尾-->
<hr />
<a href="https://github.com/wr0x00/Lsploit/issues">{{issue}}</a>
<p style="color:gray;">Develop by wr0x00.
<script type="text/javascript">
    var date = new Date();
    document.write("Today:"+date.getFullYear() + "." + (date.getMonth() + 1) + "." + date.getDate());
  </script>

</body>
</html>